@charset "UTF-8";

body {
	position:absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.table {
	margin-left: 150px;
	width: 70%;
	height: 70%;
	background-color: #f2f2f2;
	font-size: 15px;
	text-align:left;
}

.contype {
	font-weight: bold;
}

.title {
	width: 60%;
	height: 40px;
	background-color: #f2f2f2;

}

.writer {
	width: 20%;
}

.date {
	width: 20%;
}